body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
*{
    box-sizing: border-box;
}
header{
    background: linear-gradient(rgb(111, 111, 228), whitesmoke );
    border: 1px solid rgba(248, 245, 245);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 120px;
    height: 180px;
    width: 100%;
}
.titulo{
    animation: tit 8s infinite;
}
@keyframes tit{
    0%{color: #610b00;
        font-size: 30px;}
    25%{color: #4cc9f0;
        font-size: 40px}
    50%{color: rgb(0, 255, 85);
        font-size: 60px}
    75%{color: #ff33d3;
        font-size: 70px}
    100%{color: #aacc00;
        font-size: 30px}
}
h1{
    position: relative;
     text-transform: capitalize;
     /*las 1º en mayusculas*/
     text-decoration: none;
     font-size: 4.5rem;
     margin-left: 23%;
     margin-top: 3.2%;
}
.logo{
    position: fixed;
    margin-top: -8%;
    margin-left: 0.5%;
    border-radius: 10%;
}

footer {
    margin-top: 45%;
    height: 165px;
    clear: both;
    background-color: rgb(111, 111, 228, 0.6);
    color: blanchedalmond;
}
.pie {
    margin-top: -1%;
    text-align: center;
} 
main{
    margin-top: 15%;
    margin-left: 10%;
}
.img1, .img2, .img3{
   margin-top: 10%;
    float: left;
    width: 25%;
    height: 500px;
    background-repeat: no-repeat;
    animation-name: ejercicio;
    border: 7px solid whitesmoke;
    background-size: cover;
    box-sizing: border-box;
}
@keyframes ejercicio{
    from{transform: rotateX(90deg);}
    to{transform: rotateX(0deg);}
}
.img1{  
    margin: 10px;
    animation-duration: 2s;
    background: url(../img/1.jpg);
    transition: ease-in-out 2s;
}
.img1:hover{
    transform: rotateY(180deg);
}
.img2{
    margin: 10px;
    animation-duration: 1s;
    background: url(../img/2.jpg);
    transition: ease-in-out 2s;
}
.img2:hover{
    transform: scale(1.2, 1.1);
}
.img3{
    margin: 10px;
    animation-duration: 10s;
    background: url(../img/3.jpg);
    background-size: cover;
}
.img3:hover{
    transform:rotate(360deg);
    transition: 4s ease;
}
